.home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__nav {
    width: 100%;
    &--list {
      display: flex;
      justify-content: space-between;
      li {
        list-style-type: none;
      }
    }
  }
}

.pics, .social, .about, .special {
  padding: 2rem;
}

.special {
  ul {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: left;
    line-height: 3rem;
    li {
      list-style-type: none;
    }
  }
}

.about {
  p {
    font-size: 1.5rem;
  }
}

.e {
  .talk {
    padding: 2rem;
  }
}